<%= form_for(@game) do |game_form| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Users:
    <ul id="users">
      <% 1.times do %>
        <%= render :partial => 'user' %>
      <% end %>
    </ul>
    <%= link_to_function "Add another player", 
          "$('#users').append('<li>Email: <input id=\"game_users__email\" name=\"game[users][][email]\" size=\"30\" type=\"text\"><a href=\"#\" onclick=\"$(this).parent().remove(); return false;\">Remove</a><br>Colour: <input id=\"game_users__colour\" name=\"game[users][][colour]\" size=\"30\" type=\"text\"></li>')"%>

  </p>

  <div class="actions">
    <%= game_form.submit %>
  </div>
<% end %>
