<div id="game">

  <div id="window_main">
    <div id="board"></div>
    <div id="info">
      <div id="info_left">
        Turn, Meeples.
      </div>
      <div id="controls">
        <div id="left">
          <img src="../images/left.png"/><br/>
          ROTATE<br/>
          LEFT
        </div>
        <div id="candidate">
          <img src=""/>
        </div>
        <div id="right">
          <img src="../images/right.png"/><br/>
          ROTATE<br/>
          RIGHT      
        </div>
      </div>
      <div id="info_right">
        Undo, Confirm, Remaining Tiles.
      </div>
    </div>
  </div>

  <div id="sideboard">
    <div id="players">
      <table style="width: 100%">
        <tr>
          <th style="width: 20px"></th>
          <th>PLAYERS</th>
          <th style="text-align: right">SCORE</th>
        </tr>
        <tr>
          <td style="background-color: blue">&nbsp;</td>
          <td style="padding-left: 10px">JORY</td>
          <td style="text-align: right">42</td>
        </tr>
        <tr>
          <td style="background-color: red">&nbsp;</td>
          <td style="padding-left: 10px">APRILE</td>
          <td style="text-align: right">24</td>
        </tr>
      </table>
    </div>
    <div id="chat">Chatterbox</div>
  </div>

  <div style="display:none">
    <div id="num_tiles">72</div>
    <div id="players_turn"><%= @player.turn %></div>
    <div id="json_edges"><%= @edges.to_json %></div>
    <div id="json_tiles"><%= @tiles.to_json %></div>
    <div id="json_placed_tiles"><%= @placed.to_json %></div>
    <div id="json_roads"><%= @roads.to_json %></div>
    <div id="json_cities"><%= @cities.to_json %></div>
    <div id="json_farms"><%= @farms.to_json %></div>
    <div id="json_cloisters"><%= @cloisters.to_json %></div>
  </div>
</div>
<%= javascript_include_tag 'cloisterspace' %>
